<button (click)="backToMain()">Back</button>
<h2>About UgoCompiler</h2>

UgoCompiler is a free online Java compiler.<br>
It’s made as a sub project of the blog <a href="https://ugo.tokyo" target="_blank">Ugo</a>.<br><br>

UgoCompiler
<ul><li>is free</li>
  <li>don’t need registration</li>
  <li>uses API of Wandbox (https://wandbox.org, https://github.com/melpon/wandbox)</li>
</ul>

<h2>Version & Roadmap</h2>

Current Version is 1.0

What will be coming next?
<ul>
  <li>Load sample code from Wordpress database</li>
  <li>Multiple language support (Japanese, English)</li>
  <li>Line change in result panel</li>
  <li>Output details of the compiler setting</li>
  <li>Syntax highliting for reserved words</li>
  <li>Support multiple files creation</li>
  <li>Mobile usability improvement</li>
</ul>

You can find source code on my GitHub repository.<br>
Yoshiki Kuno
